

.landing-container {
    background-color: #6f6a5f;
    width: 100%;
    height: auto;
}


.container {
    background-color: #6f6a5f;
    width: 100%;
    height: auto;
}


.recent-container {
    background-color: orange;
    width: 100%;
    height: auto;
}


.title {
    font-family: avenir, sans-serif;
    font-size: 50px;
    color: white;
}


h2 {
    color: black;
}