

html {
  background: url("./images/bg copy.jpg")
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
    font-family: 'Fredericka the Great', cursive;
    font-size: 46px;
    color: #aca4ba;

    display: inline-flex;
    float: left;
    padding-top: 14px;
    padding-left: 30px;
}

.nav {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #837e93;
    float: right;
    padding: 20px;
}

.nav:hover {
    font-weight: bold;
}

.btns-container {
    display: flex;
    width: 50%;
    margin: auto;
}

img {
    width: 200px;
    height: auto;
}

.enjoyfree-btn {
    width: 200px;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.landing-title {
    font-family: montserrat, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #aca4ba;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 10px;
}

.title {
    font-family: montserrat, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #aca4ba;
    text-align: center;
    padding-top: 180px;
}

.signup-form {
    margin: auto;
    text-align: center;
}

h2 {
    font-family: montserrat, sans-serif;
    font-size: 20px;
    color: #57558c;
}

input[type=text] {
    font-family: montserrat, sans-serif;
    font-size: 16px;
    color: #5a5773;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

input[type=submit] {
    font-family: montserrat, sans-serif;
    font-size: 18px;
    background-color: #57558c;
    color: white;
    border-radius: 10px;
    border: 1px white solid;
    padding: 15px;
    outline: none;
}

.greeting {
    font-family: montserrat, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #aca4ba;
    text-align: center;
    padding-top: 80px;
    padding-left: 30px;
}

.myposts-title {
    font-family: montserrat, sans-serif;
    font-size: 30px;
    color: #5a5773;
    padding-top: 80px;
    text-align: center;
}

.recent-title {
    font-family: montserrat, sans-serif;
    font-size: 30px;
    color: #5a5773;
    padding-top: 80px;
    text-align: center;
}

textarea {
    border-radius: 10px;
    width: 70%;
    height: 300px;
    padding: 10px;
    background-color: #f8f8f8;
    resize: none;
    outline: none;
    font-size: 16px;
    font-family: montserrat, sans-serif;
}

.post-container {
    width: 400px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.col {
/*    padding-top: 20px;*/
    display: flex;
    flex-direction: col;
    flex-basis: 100%;
    flex: 1;
}

.col-inner {
    text-align: center;
    padding-top: 20px;
    font-family: montserrat, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #837e93;
}

.p-title {
    font-family: montserrat, sans-serif;
    font-weight: bold;
    color: #a5a1af;
}

.p-post {
    font-family: montserrat, sans-serif;
    color: #a5a1af;
    padding-left: 45px;
}